@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  height: 120px;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container img {
  width: 85%;
}
header ul {
  display: flex;
}
header ul li {
  padding: 0 15px;
}
header ul li a {
  line-height: 117px;
  text-transform: uppercase;
  color: #454545;
  font-weight: 700;
}
header ul li.active a, header ul li:hover a {
  color: #2582FA;
}
header ul li.active, header ul li:hover {
  border-bottom: 3px solid #2582FA;
}

footer .f-top .container {
  display: flex;
  background-image: url("../../../public/img/dc-logo-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  padding: 40px 0;
}
footer .f-top ul {
  padding-right: 50px;
}
footer .f-top ul li.big {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 0;
}
footer .f-top ul li.big a {
  color: #fff;
  font-size: 20px;
}
footer .f-top ul li a {
  color: #949494;
  font-size: 12px;
}
footer .f-bottom {
  height: 140px;
  background-color: #303030;
}
footer .f-bottom .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .f-bottom .container .sign-up {
  cursor: pointer;
  text-transform: uppercase;
  background: none;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border: 2px solid #2582FA;
  padding: 20px;
}
footer .f-bottom .container .social-links ul {
  display: flex;
  align-items: center;
}
footer .f-bottom .container .social-links ul li.big {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-right: 20px;
}
footer .f-bottom .container .social-links ul li.big a {
  color: #2582FA;
}
footer .f-bottom .container .social-links ul li {
  padding: 10px;
}
footer .f-bottom .container .social-links ul li img {
  vertical-align: middle;
}